@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --white-base: #ffffff;
  --black-base: #000000;
  --default-text-color: #000000;

  --primary-1: #51ebe1;
  --primary-2: #13a89e;
  --primary-3: #006f3c;

  --secondary-1: #c91a25;
  --secondary-2: #c91a25;
  --secondary-3: #c91a25;

  --text-primary: #ffffff;
  --text-secondary: #ffffff;

  --border-1: #efefef;
  --border-2: #dddedf;
  --border-3: #a8adaf;

  --danger-1: #f88e86;
  --danger-2: #f44336;
  --danger-3: #d0190b;

  --info-1: #88bfdd;
  --info-2: #3995c5;
  --info-3: #2c7196;

  --success-1: #74fdbc;
  --success-2: #41fd9a;
  --success-3: #2de27f;

  --warning-1: #ffc266;
  --warning-2: #ff9800;
  --warning-3: #c27400;

  --gray-1: #747b7e;
  --gray-2: #5c6366;
  --gray-3: #393e40;

  --border-1: #efefef;
  --border-2: #dddedf;
  --border-3: #a8adaf;
}

.dark {
  /* --background: #0a0a0a;
    --foreground: #ededed; */
  --white-base: #ffffff;
  --black-base: #000000;
  --default-text-color: #ffffff;

  --primary-1: #51ebe1;
  --primary-2: #13a89e;
  --primary-3: #0b655f;

  --secondary-1: #c91a25;
  --secondary-2: #c91a25;
  --secondary-3: #c91a25;

  --text-primary: #ffffff;
  --text-secondary: #ffffff;

  --border-1: #efefef;
  --border-2: #dddedf;
  --border-3: #a8adaf;

  --danger-1: #f88e86;
  --danger-2: #f44336;
  --danger-3: #d0190b;

  --info-1: #88bfdd;
  --info-2: #3995c5;
  --info-3: #2c7196;

  --success-1: #74fdbc;
  --success-2: #41fd9a;
  --success-3: #2de27f;

  --warning-1: #ffc266;
  --warning-2: #ff9800;
  --warning-3: #c27400;

  --gray-1: #747b7e;
  --gray-2: #5c6366;
  --gray-3: #393e40;

  --border-1: #efefef;
  --border-2: #dddedf;
  --border-3: #a8adaf;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-between {
  @apply flex justify-between items-center;
}
